.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(68, 68, 68);
  color: rgb(194, 194, 194);
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.LinkStyle {
  color: white;
  text-decoration: none;
}

.LinkStyle:hover {
  color: rgb(161, 161, 161);
  text-decoration: none;
}

.wordStyle {
  margin: 0.25rem;
    color: rgb(153, 153, 153);
    font-variant: no-common-ligatures;
    border-bottom: 2px solid transparent;
    line-height: 1rem;
}

.words {
  height: fit-content;
    height: -moz-fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
    user-select: none;
    padding-bottom: 1em;
}