* {
  margin: 0;
  background-color: rgb(68, 68, 68);
}
.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(68, 68, 68);
  color: rgb(194, 194, 194);
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.LinkStyle {
  color: white;
  text-decoration: none;
}

.LinkStyle:hover {
  color: rgb(161, 161, 161);
  text-decoration: none;
}

.wordStyle {
    color: rgb(114, 114, 114);
    border-bottom: 2px solid transparent;
    line-height: 2rem;
    font-size: 1.5rem;
}

.words {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.2em;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 5%;
}

.letter-space {
  margin: 0.25rem;
}
.correct {
  color: white
}

.incorrect {
  color: rgb(228, 72, 72)
}

.incorrect-word {
  border-bottom: solid 2px red;
}

.cursor {
  border-right: solid 1px white;
}
.before-cursor {
  border-left: solid 1px red;
}

.home-textStyle{
  color: white;
  margin-top: 2%;
}

.home-text{
  margin-left: 10%;
  width: 80%;
}

.formText {
  color:white;
  margin-top: 3%;
}

.formPosition {
  margin-top: 3%;
}

.inputText {
  color: white;
}

.submitText {
  color: white;
}
.reset {
  margin-top: 5%;
  font-size: 1.5rem;
  color: rgb(228, 228, 228);
}

.results {
  font-size: 1.5rem;
  color: rgb(228, 228, 228);
}

.resultsContainer {
  margin-top: 3%;
}
